{:paths ["src" "resources"]
 :deps {org.clojure/clojure     {:mvn/version "1.10.0"}
        ring/ring-core          {:mvn/version "1.7.1"}
        com.cognitect/anomalies {:mvn/version "0.1.12"}
        slingshot/slingshot     {:mvn/version "0.12.2"}
        }
 :aliases {:dev
           {:extra-paths ["dev"]
            :extra-deps {;com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                         me.raynes/fs {:mvn/version "1.4.6"}}
;            :main-opts  ["-m" "rebel-readline.main"]
            }
           :test
           {:extra-paths ["test"]
            :extra-deps  {com.cognitect/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner.git"
                           :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                          me.raynes/fs {:mvn/version "1.4.6"}
                          }
            :main-opts   ["-m" "cognitect.test-runner"]}
           :build
           {:extra-paths ["build"]
            :extra-deps
            {badigeon/badigeon
             {:git/url "https://github.com/EwenG/badigeon.git"
              :sha "e7f62a60d8e890fc84a47bcfdd59137e11ff1c95"
              :tag "0.0.7"}}}}}
